html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgray;
  background-image: url("../images/victor-freitas-qZ-U9z4TQ6A-unsplash.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: center;
}

#error,
.description {
  background-color: rgba(222, 184, 135, 0.45);
  padding: 0.3rem;
}

#error {
  padding: initial;
}

.card {
  overflow: hidden;
}

#waveform_active, #waveform_relax {
  width: 100%;
  height: auto;
}

.btn-red {
  background-color: var(--bs-red);
  color: #fff;
}
.btn-red:hover {
  color: #fff;
}

footer {
  background-color: burlywood;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p a {
  color: var(--bs-red);
}
footer p a:hover {
  color: darken(var(--bs-red), 30%);
}
